USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 01/06/2024 5:19:58 pm ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 01/06/2024 5:19:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [varchar](50) NOT NULL,
	[TenCV] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 01/06/2024 5:19:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG]    Script Date: 01/06/2024 5:19:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG](
	[MaHD] [varchar](50) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[Ngayvao] [date] NOT NULL,
	[Ngayra] [date] NULL,
 CONSTRAINT [PK_HOPDONGLAODONG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 01/06/2024 5:19:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MaLuong] [varchar](50) NOT NULL,
	[LuongCB] [float] NULL,
	[HSLuong] [float] NULL,
	[HSPC] [float] NULL,
	[Songaycong] [nchar](10) NULL,
	[TongLuong] [float] NOT NULL,
 CONSTRAINT [PK_LUONG] PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 01/06/2024 5:19:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](50) NOT NULL,
	[Hoten] [nvarchar](250) NOT NULL,
	[SDT] [varchar](50) NULL,
	[Gioitinh] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[Dantoc] [nvarchar](50) NULL,
	[Quequan] [nvarchar](250) NULL,
	[MaCV] [varchar](50) NULL,
	[MaPB] [varchar](50) NULL,
	[MaTDHV] [varchar](50) NULL,
	[MaLuong] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 01/06/2024 5:19:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MaPB] [varchar](50) NOT NULL,
	[TenPB] [nvarchar](250) NOT NULL,
	[SDTPB] [varchar](50) NOT NULL,
	[Diachi] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRINHDOHOCVAN]    Script Date: 01/06/2024 5:19:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDOHOCVAN](
	[MaTDHV] [varchar](50) NOT NULL,
	[TDHV] [nvarchar](50) NOT NULL,
	[CNganh] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TRINHDOHOCVAN] PRIMARY KEY CLUSTERED 
(
	[MaTDHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV1', N'1')
GO
INSERT [dbo].[DANGNHAP] ([TaiKhoan], [MatKhau], [Email]) VALUES (N'son123', N'son123', N'tranhoangson17@gmail.com')
INSERT [dbo].[DANGNHAP] ([TaiKhoan], [MatKhau], [Email]) VALUES (N'son1234', N'son1234', N'tranhoangson03@gmail.com')
GO
INSERT [dbo].[HOPDONGLAODONG] ([MaHD], [MaNV], [Ngayvao], [Ngayra]) VALUES (N'HD1', N'NV1', CAST(N'2024-04-19' AS Date), CAST(N'2024-04-19' AS Date))
GO
INSERT [dbo].[LUONG] ([MaLuong], [LuongCB], [HSLuong], [HSPC], [Songaycong], [TongLuong]) VALUES (N'NV1', 1, 1, 1, N'1         ', 2)
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [Hoten], [SDT], [Gioitinh], [NgaySinh], [Dantoc], [Quequan], [MaCV], [MaPB], [MaTDHV], [MaLuong]) VALUES (N'NV1', N'1', N'1', N'1', CAST(N'2024-05-14T13:16:40.500' AS DateTime), N'1', N'1', N'CV1', N'PB1', N'TD1', N'NV1')
GO
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB], [SDTPB], [Diachi]) VALUES (N'PB1', N'1', N'1', N'1')
GO
INSERT [dbo].[TRINHDOHOCVAN] ([MaTDHV], [TDHV], [CNganh]) VALUES (N'TD1', N'2', N'2')
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGLAODONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG] CHECK CONSTRAINT [FK_HOPDONGLAODONG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_LUONG1] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[LUONG] ([MaLuong])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_LUONG1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PHONGBAN] ([MaPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TRINHDOHOCVAN] FOREIGN KEY([MaTDHV])
REFERENCES [dbo].[TRINHDOHOCVAN] ([MaTDHV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TRINHDOHOCVAN]
GO
USE [master]
GO
